<div>
  <div>Driver details</div>
  <div>Frist name: {{cacheService.driverDetail.fName}}</div>
  <div>Last name: {{cacheService.driverDetail.lName}}</div>
  <div>Role: {{cacheService.driverDetail.role}}</div>
  <div>Date of birth: {{cacheService.driverDetail.dob | date: 'dd/MM/yyyy'}}</div>
  <div>Marital status: {{cacheService.driverDetail.mStatus}}</div>
  <div>Phone: {{cacheService.driverDetail.phone}}</div>
  <div>Address: {{cacheService.driverDetail.address}}</div>
  <div>State: {{state.name}}</div>
</div>
