<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="uName">Name</label>
      <input class="form-control" name="uName" id="uName" type="text" formControlName="uName">
      <div *ngIf="mobileLogin && loginForm.value.uName.length != 10">
        Please enter a valid mobile number
      </div>
      <div>

      </div>
    </div>
    <div class="form-group" *ngIf="!mobileLogin">
      <label for="password">Password</label>
      <input class="form-control" name="password" id="password" type="password" formControlName="password">
      <div>

      </div>
    </div>
    <div class="form-group" *ngIf="mobileLogin && !(loginForm.value.uName.length != 10) && cacheService.enableOtp">
      <div>
      </div>
      <label for="otp">Otp</label>
      <input class="form-control" name="otp" id="otp" type="text" formControlName="otp">
      <div>

      </div>
    </div>
    <div id="recaptcha-container"></div>
    <button type="submit">submit</button>
  </form>
</div>