<div>
  <div *ngIf="cacheService.isLogedIn">
    Welcome to Home page
    <hr/>
    <h3>Drivers list</h3>
    <div *ngFor="let driver of this.cacheService.drivers | keyvalue">
      <div class="pointer link" (click)="expantDriver(driver)">{{driver.value.fName}} {{driver.value.lName}}</div>
    </div>
    <div class="link pointer pull-right" (click)="logout()">
      logout
    </div>
    <hr/>
    <div style="margin-top:20px">
      <app-driver-form></app-driver-form>
    </div>
  </div>
  <div *ngIf="!cacheService.isLogedIn">
    Your not logged in please <span class="link pointer" (click)="login()">login</span> in to continue
  </div>

</div>